*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary-color: #ef9273 ;
    --secondary-color: #5bccf6;
    --tertiary-color: #030e12;
    --text-color: #fef9f8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    margin: 200px 0 0 0;
}

/* starting header variables styling */
.top-variables {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    max-width: 100%;
    padding: 15px;
    color: var(--text-color);
}

.score {
border: solid var(--tertiary-color);
padding: 5px;
border-radius: 10px;
background-color: var(--secondary-color);
box-shadow: 0 0 2px 1px;
}

.score a {
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 1px 1px var(--tertiary-color);
}

.time {
border: solid var(--tertiary-color);
padding: 5px;
border-radius: 10px;
background-color: var(--secondary-color);
box-shadow: 0 0 2px 1px;
text-shadow: 1px 1px var(--tertiary-color);
}
/* ending heading variables styles */

/* starting start screen section */
.container {
   width: 800px;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   background-color: var(--primary-color);
   color: var(--text-color);
   border: solid 5px var(--tertiary-color);
   border-radius: 5px;
   box-shadow: 0 0 2px 1px;
   align-items: center;
}

.start-screen {
    align-content: center;
    margin: 0px 10px 10px 10px;
}

.container h1 {
    text-align: center;
    margin: 20px 0px 10px 0px;
    max-width: 100%;
    text-shadow: 2px 2px #ff0000;
}

.container p {
    text-align: center;
    margin: 5px 5px 30px 5px;
    max-width: 100%;
    text-shadow: 1px 1px var(--tertiary-color);
}

.container button {
    font-size: 35px;
    margin: 0px 0px 25px 0px;
    border: solid var(--tertiary-color);
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

/* start question section style */
.question-wrap {
    width: 800px;
    max-width: 80%;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    border: solid 5px var(--tertiary-color);
    box-shadow: 0 0 2px 1px;
    margin: 10px;
    color: var(--text-color);
}

#question {
    text-align: center;
    margin: 20px 0px 10px 0px;
    max-width: 100%;
    text-shadow: 2px 2px #ff0000;
    font-size: 30px;
}

/* buttons for answer style */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    color: var(--text-color);
    border: solid var(--tertiary-color);
    padding: 10px 10px;
    border-radius: 5px 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 2px 1px;
    text-shadow: 1px 1px var(--tertiary-color);
    font-size: 15px;
    outline: none;
}

.btn:hover {
    border-color: whitesmoke;
}

body.correct {
    background-color: rgb(61, 155, 61);
    color: black;
}

body.wrong {
    background-color: rgb(139, 55, 55);
    color: black;
}

.next-btn {
    color: var(--text-color);
    border: solid var(--tertiary-color);
    padding: 10px 10px;
    border-radius: 5px 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 2px 1px;
    text-shadow: 1px 1px var(--tertiary-color);
    font-size: 15px;
    outline: none;
}

/* end game screen styling */
.end-screen {
    width: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: solid 5px var(--tertiary-color);
    border-radius: 5px;
    box-shadow: 0 0 2px 1px;
    align-items: center;  
    text-shadow: 1px 1px var(--tertiary-color);
}

.end-screen h2 {
    text-align: center;
    margin: 20px 0px 10px 0px;
    max-width: 100%;
    text-shadow: 2px 2px #ff0000; 
}

/* classes for highscore page */
.scores {
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 6px;
    width: 425px;
    height: 30vh;
    padding: 10px;
    margin: 10px;
    align-content: center;
}

.controls button a {
    text-decoration: none;
    color: var(--text-color);
}

/* utility */
.hide {
    display: none;
}